h1{
    text-align: center;
    color: white;
    max-width: 600px;
    margin: auto;
}
p{
    color: white;
    max-width: 600px;
    margin: auto;
}
div{
    padding: 5px;
}
img{
    max-width: 100%;
    width: 25%;
}