body{
    background-color: #08073E;
    color: floralwhite;
    font-family: sans-serif;
    width: 100%;
    min-height: 70ch;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    border-radius: 10px;
    box-shadow: 0 2px 5px black;
    width: 500px;
    max-width: 100%;
}
header{
    padding: 4px;
    text-align: center;
}
.form{
    padding: 10px;
}
.row .mb-3{
    position: relative;
}
.col-sm-2 .col-form-label{
    display: inline-block;
    margin-bottom: 5px;
}
.col-sm-10{
    display: block;
    width: 100%;
    padding: 5px;
}
.botao2{
    margin-left: 65%;
}
